* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body {
  height: 100%;
  width: 100%;
}
body{
  overflow-x: hidden;
}
.section1 {
  height: 100%;
  width: 100%;
  position: relative;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 100px;
}
.part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
nav h1 {
  font-size: 50px;
}
nav h1 i {
  rotate: 45deg;
  display: inline-block;
  font-size: 55px;
}
nav h4 {
  font-size: 25px;
  font-weight: 500;
}
nav button {
  padding: 22px 40px;
  font-size: 22px;
  border-radius: 10px;
  border: 2px solid black;
  font-weight: 600;
  background-color: transparent;
}
.center {
  height: 80%;
  width: 100%;
  display: flex;
  padding: 70px 100px;
}
.center-part1 {
  height: 100%;
  width: 40%;
}

.center-part1 h1 {
  font-size: 90px;
  line-height: 1.2;
  font-family: monospace;
}
.center-part1 p {
  font-size: 30px;
  width: 95%;
  margin-top: 50px;
  margin-bottom: 35px;
}
.center .center-part1 button {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 28px 40px;
  font-size: 25px;
  font-weight: 600;
  border: none;
}
.center-part2 {
  height: 100%;
  width: 60%;
  position: relative;
}
.center-part2 img {
  height: 100%;
  position: absolute;
  right: 0;
}
.section1bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 120px;
}
.section1bottom img {
  height: 60px;
}
.section2 {
  margin-top: 130px;
}
.section2 .services {
  padding: 40px 120px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
}
.services h3 {
  background-color: #bcd85f;
  font-weight: 500;
  padding: 5px 10px 3px 10px;
  border-radius: 5px;
  font-size: 60px;
}
.services p {
  width: 40%;
  font-size: 20px;
  font-weight: 500;
}
.container {
  height: 86%;
  width: 100%;
  padding: 40px 120px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.elem {
  flex-shrink: 0;
  height: 400px;
  width: 48%;
  border: 3px solid black;
  border-radius: 50px;
  margin-top: 40px;
  box-shadow: 0px 15px 2px black;
  padding: 60px;
  display: flex;
}
.elem-part1 {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.elem-part2 {
  height: 100;
  width: 50%;
}
.elem-part2 img {
  height: 100%;
}
.elem-part1 h2 {
  font-size: 45px;
  background-color: #bcd85f;
  font-weight: 500;
  width: 65%;
  padding: 1px 5px;
  border-radius: 10px;
}
.elem-part1 h4 {
  display: flex;
  align-items: center;
  font-size: 40px;
  font-weight: 500;
  gap: 30;
}
.elem-part1 h4 i {
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 50%;
  font-size: 24px;
  margin-right: 10px;
  font-weight: 500;
}
.black{
    background-color: black;
}
.black h2{
    background-color: white;
}
.black .elem-part1 h4{
    color: white;
}
.black .elem-part1 i{
    background-color: white;
    color: black;
}


