* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #111;
  color: white;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}
div {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  font-size: 20px;
}
h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    white-space: nowrap;
}