* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
  color: white;
}
html,
body {
  height: 100%;
  width: 100%;
}
body{
    background-color: black;
}
#page1, #page2, #page3{
    height: 100vh;
    width: 100%;
}
#move{
    background-color: #D8ff04;
    display: flex;
    padding: 2vw 0;
    overflow: hidden;
}
.marque{
    display: flex;
    align-items: center;
    gap: 2vw;
    padding: 0 1vw;
    flex-shrink: 0;
    transform: translateX(-100%);
}
.marque h1{
    font-size: 4vw;
    color: black;
}
.marque img{
    height: 6vw;
}